.holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* First & last touch edges */
    flex-wrap: wrap;                 /* Move extra items to next row */
}

.item {
    flex: 0 0 auto;   /* Prevent squashing */
}